:root {
  --cs-code-font: "Cascadia Code", "Fira Code", Consolas;
}

.md-typeset table.cs-table {
  border-collapse: collapse !important;
  width: 100% !important;
}

.md-typeset table.cs-table tr {
  border: 1px solid #e0e0e0 !important;
}

.md-typeset table.cs-table tr td {
  vertical-align: middle !important;
  padding: 0 10px !important;
}

.md-typeset table.cs-table tr td pre {
  font-family: var(--cs-code-font) !important;
  font-size: 14px !important;
  color: black !important;
}

.md-typeset table.cs-table tr td:nth-child(1),
.md-typeset table.cs-table tr td:nth-child(1) pre {
  background-color: #f5f5f5 !important;
}

.md-typeset table.cs-table tr td:nth-child(1) {
  width: 400px !important;
}

.md-typeset table.cs-table tr td:nth-child(1) pre {
  margin: 0 !important;
  padding: 0 !important;
}
